
.site-main {
  clear: both;
  padding-top:10px;
}

.thumbnail a > img {
  margin-top:5px;
}

@price-color: #b81650;


.thumbnail a > img {
  margin-top:5px;
}

.price-color h4 {
  color: @price-color;
  text-align: center;
}
